@page "/MessageWall"

<PageTitle>Custom Message Wall</PageTitle>

<h3>Message Wall</h3>
<EditForm Model="theModel" FormName="UserMessageForm" OnValidSubmit="ValidSubmission">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label for="theMessage" class="form-label">@nameof(theModel.Message)</label>
    <InputText id="theMessage" @bind-Value="theModel.Message" class="form-control" />
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

<ul>
    @foreach (string message in messages)
    {
        <li>@message</li>
    }
</ul>

@code {
    private MessageModel theModel = new();
    private List<string> messages = new();

    private void ValidSubmission()
    {
        messages.Add(theModel.Message);
        theModel = new();
    }
}

<!-- FormName="UserMessageForm" -->