@page "/Name"
<PageTitle>Name Entry</PageTitle>

<h3>Name Entry</h3>

<EditForm Model="model"  OnValidSubmit="ValidSubmission"> 
    <InputText @bind-Value="model.FirstName" placeholder="First Name" class="form-control"></InputText>
    <InputText @bind-Value="model.LastName" placeholder="Last Name" class="form-control"></InputText>
    <button class="btn btn-primary" type="submit">Submit</button> 
</EditForm>

<ul>
    @foreach(var p in people)
    {
        <li>@p.FirstName @p.LastName</li>
    }
</ul>

@code 
{
    private PersonModel model = new();
    private List<PersonModel> people = new();

    private void ValidSubmission()
    {
        people.Add(model);
        model = new();
    }
}
