@page "/NameEntry"

<PageTitle>Name Entry</PageTitle>

<h3>Name Entry</h3>

<EditForm Model="thePerson" OnValidSubmit="ValidSubmission">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label for="firstNameTag" class="form-label">@nameof(thePerson.FirstName)</label>
    <InputText id="firstNameTag" class="form-control" @bind-Value="thePerson.FirstName" />

    <label for="lastNameTag" class="form-label">@nameof(thePerson.LastName)</label>
    <InputText id="lastNameTag" class="form-control" @bind-Value="thePerson.LastName" />

    <button class="btn btn-primary" type="submit">Submit</button> 
</EditForm>

<ul>
    @foreach (PersonModel person in people)
    {
        string Name = $"{person.FirstName} {person.LastName}";
        <li>@Name</li>    
    }
</ul>

@code {
    private PersonModel thePerson = new();
    private List<PersonModel> people = new();

    private void ValidSubmission()
    {
        people.Add(thePerson);
        thePerson = new();
    }
}
