@inject HttpClient Http

<h3>Person</h3>

<EditForm Model="person" OnValidSubmit=OnValidSubmissionName>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText @bind-Value="person.FirstName" placeholder="First Name" class="form-control"></InputText>
    <InputText @bind-Value="person.LastName" placeholder="Last Name" class="form-control"></InputText>
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

<ul>
    @foreach (PersonModel p in people)
    {
        <li>@p.FirstName @p.LastName</li>
    }
</ul>

@code
{
    private PersonModel person = new();
    private List<PersonModel> people = new();

    private async Task OnValidSubmissionName()
    {
        var response = await Http.PostAsJsonAsync("api/person", person);
        if (response.IsSuccessStatusCode)
        {
            people.Add(person);
            person = new();
        }
        else
        {
            // Handle error
        }
    }
}